body {
  padding: 10px;
  font-family: sans-serif;
}

.imgholder{
	margin-bottom: 10px;
	height: 350px;
}

.litbooks{
	height:250px;
	overflow: hidden;
}

.edcolor{
	color:blue;
	font-size: 3em;
}

.vcolor{
	color:purple;
	font-size: 3em;
}
.Desc{

	height: 200px;
	width:50%;
	background-color: rgb(195, 255, 217);

	::-webkit-scrollbar{
  width: 10px;
}
}
