body {
  padding: 10px;
  font-family: sans-serif;
}

.imgholder{
	margin-bottom: 10px;
	height: 350px;
}

.litbooks{
	height:250px;
	overflow: hidden;
}

.thumbtemp{

	width:350px;
	height: 430px;
}

.eholder{
	margin-bottom: 10px;
	height:250px;
}

.thump{
	width:30px;
	
}

.thown{
	width:30px;

}