body 
{
  padding: 15px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(195, 0, 255) !important;
  
}

.imgholder{
	margin-bottom: 10px;
	height: 350px;
}

.litbooks{
	height:250px;
	overflow: hidden;
}

.thumbtemp{

	width:348px;
	height: 430px;
}

.eholder{
	margin-bottom: 10px;
	height:250px;
}

.thump{
	width:30px;
	
}

.thown{
	width:30px;

}

.ty{
	color:  rgb(195, 0, 255);
}